* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 500vh;
    background: linear-gradient(45deg, #000, #333);
    display: grid;
}

h2 {
    background: #000;
    height: 3rem;
    padding: 2rem 0;
    color: #fafafa;
    text-underline-offset: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
}

footer {
    padding: 2rem 0;
    background: #000;
    color: #c2c2c2;
    text-align: center;
    align-self: baseline;
    align-self: self-end;
}

/**=== scrollbar ===*/
::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #008000;
}

::-webkit-scrollbar-thumb {
    background: #f00;
    border-radius: 16px;
    transition: background .4s;
}

::-webkit-scrollbar-thumb:hover {
    background: #ffa500;
}
